
header.greeting > div {
    box-sizing: border-box;
    padding: 0 var(--sidePadding);
}

header.greeting .right {
    flex: 1;
    padding-left: 5vw;
}

header.greeting h1 {
    color: var(--grey1);
    font-size: 1.5rem;
    margin: 0 0 .5em;
}

header.greeting p {
    color: var(--grey2);
    font-size: 1rem;
    margin: 0;
    text-align: justify;
}

header.greeting p a {
    color: var(--primary);
    position: relative;
    text-decoration: none;
}

header.greeting p a:hover,
header.greeting p a:focus {
    color: var(--grey4);
}

header.greeting .social-box {
    margin-top: 1rem;
}

header.greeting .social-box a {
    display: inline-block;
    padding: .5rem;
    text-decoration: none;
}

header.greeting .social-box a svg {
    display: block;
    fill: var(--grey4);
    height: 1rem;
    width: 1rem;
}

header.greeting .social-box a:hover svg,
header.greeting .social-box a:focus svg {
    fill: var(--grey1);
}

/* Greeting left section */
header.greeting .left {
    flex: 2;
    height: 50vh;
    padding-right: 0;
}

header.greeting .posts {
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    position: relative;
}

header.greeting .posts .post {
    backface-visibility: hidden;
    border-radius: var(--radius);
    height: 100%;
    max-height: calc(25vh - var(--gap));
    position: relative;
    text-decoration: none;
    transition: all .3s cubic-bezier(0.25, 0.1, 0.13, 1.94);
    width: 100%;
    z-index: 1;
}

header.greeting .posts:hover .post {
    filter: grayscale(100%);
    opacity: .8;
    transform: scale(.9);
}

header.greeting .posts .post:hover {
    filter: grayscale(0);
    opacity: 1;
    z-index: 2;
}

header.greeting .posts .post:nth-child(2),
header.greeting .posts .post:nth-child(6) {
    grid-column: span 2;
}

header.greeting .posts .post .place-holder {
    align-items: flex-end;
    border: dashed 2px var(--grey7);
    border-radius: inherit;
    box-sizing: border-box;
    display: flex;
    height: 90%;
    justify-content: flex-start;
    left: 50%;
    padding: .5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 0;
}

header.greeting .posts .post .place-holder span {
    color: var(--grey4);
    font-size: .8rem;
    max-width: calc(100% - .5rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

header.greeting .posts .post .image {
    border-radius: inherit;
    height: 100%;
    pointer-events: none;
    position: relative;
    transition: all .3s cubic-bezier(0.25, 0.1, 0.16, 1.99);
    width: 100%;
    z-index: 2;
}

header.greeting .posts .post:hover .image {
    transform: translate(-3rem, -2rem) rotate(5deg) scale(1.1);
    z-index: 4;
}

header.greeting .posts .post img {
    border-radius: inherit;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

header.greeting .hint {
    bottom: calc(100% + .5rem);
    color: var(--grey4);
    font-size: .6rem;
    position: absolute;
    right: 0;
}

header.greeting .go-down {
    bottom : 1rem;
    font-size: 1em;
    position: absolute;
    right: 1rem;
}

header.greeting .go-down.hide span,
header.greeting .go-down.hide .icon {
    opacity: 0;
    top: -.5rem;
}

header.greeting .go-down span {
    color: var(--grey4);
    display: block;
    font-size: .7em;
    margin-bottom: .5em;
}

header.greeting .go-down .icon {
    animation: go-down 5s linear infinite;
}

@keyframes go-down {
    0%, 70%, 95%, 100% {
        transform: scaleY(1) scaleX(1);
    }

    80% {
        transform: scaleY(1.5) scaleX(.8);
    }

    85% {
        transform: scaleY(.8) scaleX(1.2);
    }

    88% {
        transform: scaleY(1.2) scaleX(.9);
    }

    92% {
        transform: scaleY(.9) scaleX(1.1);
    }
}

header.greeting .go-down .icon svg {
    fill: var(--grey3);
    height: 3em;
    transform: rotate(90deg);
    width: 3em;
}

section.content {
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10vh var(--sidePadding);
}

section.content > * {
    box-sizing: border-box;
    min-height: 100%;
}

section.content aside {
    flex: 1;
    padding-left: 5vw;
    text-align: right;
}

section.content aside header {
    box-sizing: border-box;
    color: var(--grey4);
    font-weight: bold;
    padding: 0 0 1em;
}

section.content aside .categories {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    padding: 0;
}

section.content aside .categories a {
    align-items: center;
    border-radius: var(--radius);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: .5rem 0;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
}

section.content aside .categories a .icon {
    background-color: currentColor;
    border-radius: var(--radius);
    box-shadow: 0 5px 8px -5px currentColor;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    height: 2em;
    margin-left: .5em;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    transition: all .3s ease;
    width: 2em;
}

section.content aside .categories a:hover .icon,
section.content aside .categories a:focus .icon {
    background-color: transparent;
    box-shadow: none;
    transform: scale(1.5);
}

section.content aside .categories a .icon span {
    color: #fff;
    left: 50%;
    line-height: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
}

section.content aside .categories a:hover .icon span,
section.content aside .categories a:focus .icon span {
    color: inherit;
}

section.content aside .categories a .name {
    color: var(--grey5);
    font-size: 1em;
    transition: all .3s ease;
}

section.content aside .categories a:hover .name,
section.content aside .categories a:focus .name {
    color: var(--grey2);
}

section.content main {
    flex: 3;
}

section.content main .post {
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
}

section.content main .post article {
    align-items: flex-start;
    display: flex;
}

section.content main .post article .image {
    height: 5rem;
    margin-left: 1rem;
    width: 5rem;
}

section.content main .post article .image img {
    border-radius: var(--radius);
    height: 100%;
    object-fit: cover;
    width: 100%;
}

section.content main .post article .details h2 {
    color: var(--grey1);
    font-size: 1rem;
    margin: 0;
}
