
:root {
    --primary: #009ace;
    --secondary: #44d62c;

    --grey1: #212121;
    --grey2: #424242;
    --grey3: #616161;
    --grey4: #757575;
    --grey5: #9e9e9e;
    --grey6: #bdbdbd;
    --grey7: #e0e0e0;
    --grey8: #eee;
    --grey9: #f5f5f5;
    --grey10: #fafafa;

    --radius: 10px;
    --sidePadding: 10vw;

    font-size: 16px;
}

/* Fonts */
@font-face {
    font-family: shabnam;
    src: url('font/shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    direction: rtl;
    font-family: shabnam, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.ltr {
    direction: ltr;
    text-align: left;
}

img {
    opacity: 0;
    transform: scale(.8);
    transition: all .3s ease;
}

img.loaded {
    opacity: 1;
    transform: scale(1);
}

/* Document */

body > nav {
    background-color: var(--grey10);
    align-content: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: .5em;
    position: sticky;
    top: 0;
    z-index: 10;
}

body > nav h1 {
    color: var(--grey2);
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
}

body > header,
body > section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    user-select: none;
    width: 100vw;
}
