
:root {
    --primary: #009ace;
    --secondary: #44d62c;

    --grey1: #212121;
    --grey2: #424242;
    --grey3: #616161;
    --grey4: #757575;
    --grey5: #9e9e9e;
    --grey6: #bdbdbd;
    --grey7: #e0e0e0;
    --grey8: #eee;
    --grey9: #f5f5f5;
    --grey10: #fafafa;

    --radius: 10px;
    --sidePadding: 10vw;

    font-size: 16px;
}

/* Fonts */
@font-face {
    font-family: shabnam;
    src: url('font/shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    direction: rtl;
    font-family: shabnam, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.ltr {
    direction: ltr;
    text-align: left;
}

img {
    opacity: 0;
    transform: scale(.8);
    transition: all .3s ease;
}

img.loaded {
    opacity: 1;
    transform: scale(1);
}

/* Document */

body > nav {
    align-content: center;
    background-color: var(--grey10);
    border-bottom: solid 1px var(--grey9);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: .5em var(--sidePadding);
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 10;
}

body > nav .search {
    background-color: transparent;
    border: none;
    color: var(--grey5);
    cursor: pointer;
    font-family: inherit;
    outline: none;
}

body > nav h1 {
    color: var(--grey3);
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

body > header,
body > section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    user-select: none;
    width: 100vw;
}

.categories > * {
    align-items: center;
    border-radius: var(--radius);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: .5em 0;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
}

.categories > * .icon {
    background-color: currentColor;
    border-radius: var(--radius);
    box-shadow: 0 5px 8px -5px currentColor;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    transition: all .3s ease;
    width: 2em;
}

.categories > *:hover .icon,
.categories > *:focus .icon {
    background-color: transparent;
    box-shadow: none;
    transform: scale(1.5);
}

.categories > * .icon span {
    color: #fff;
    font-size: 1em;
    left: 50%;
    line-height: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
}

.categories > *:hover .icon span,
.categories > *:focus .icon span {
    color: inherit;
}

.categories > * .name {
    color: var(--grey5);
    font-size: 1em;
    margin-right: .5em;
    transition: all .3s ease;
}

.categories > *:hover .name,
.categories > *:focus .name {
    color: var(--grey2);
}